* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  text-align: center;
}

canvas {
  border: 4px solid black;
  margin: 1em;
}

ul {
  list-style: none;
}

li {
  overflow-wrap: break-word;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
}

input {
  width: 80%;
}

.message-p {
  font-size: 1em;
  margin: 0 0 1em;
}

.chat-list-div {
  border: 4px solid black;
  height: 250px;
  max-width: 480px;
  overflow-y: auto;
  margin: 0 auto;
  background-color: white;
  font-size: 10pt;
}

.chat-input-div {
  max-width: 480px;
  margin: 0 auto;
}

.chat-send-button {
  width: 20%;
}

.your-chat {
  text-align: right;
  background-color: lightsteelblue;
}

.opponent-chat {
  text-align: left;
  background-color: lightgrey;  
}

.movement-buttons-div {
  margin: 0 0 1em;
}

.game-control-div {
  margin: 0 0 1em;
}
